body {
  display: flex;
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 50px);
  grid-template-rows: repeat(16, 50px);
  border: 5px solid red;
}

.grid-item {
  height: 100%;
  width: 100%;
  background-color: rgb(231, 231, 231);
}
